// Colors
$white: #fff;
$black: #000;
$red: #f00;
$very-dark-Gray: hsl(0, 0%, 17%);
$dark-Gray: hsl(0, 0%, 59%);
$light-Gray: hsl(0, 0%, 85%);

//------ Font ------ //
// Font weight
$bold: 700;
$semi-bold: 500;
$regular: 400;

// Font Family
$family: 'Rubik', sans-serif;
