@use './variables' as *;

.App {
  display: flex;
  flex-direction: column;

  .ip-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;

    position: relative;

    height: 35vh;
    padding-top: 29px;

    background: url('../assets/Search/pattern-bg.png') no-repeat;
    background-size: cover;

    h1 {
      font: inherit;
      font-size: 32px;
      font-weight: 500;
      letter-spacing: -0.4px;
      color: $white;
    }
  }
}

@media (max-width: 699px) {
  .App {
    .ip-info {
      height: 37.5vh;
      min-height: 300px;
      padding-top: 27px;

      h1 {
        font-size: 26px;
        letter-spacing: -0.3px;
      }
    }
  }
}

@media (max-height: 699px) and (min-width: 699px) {
  .App {
    .ip-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: safe center;

      min-height: 190px;
      padding: 10px;

      h1 {
        grid-row: 1/2;

        margin: auto;

        font-size: clamp(20px, 12vw, 32px);
      }
    }
  }
}
