@use './variables' as *;

.ip-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

  position: absolute;
  top: calc(100% - 80px);
  z-index: 401;

  width: 77%;
  min-height: 161px;
  padding: 36px 0;

  background: white;

  border-radius: 14px;

  .ip-detail {
    display: flex;
    flex-direction: column;
    gap: 13px;

    &:not(&:nth-child(1))::after {
      content: '';

      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      height: 46%;

      border-right: 1px solid $light-Gray;
    }

    h2 {
      font: inherit;
      font-size: 13px;
      font-weight: $bold;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      color: $dark-gray;
    }

    p {
      font: inherit;
      font-size: 25px;
      font-weight: $semi-bold;
      letter-spacing: 0.2px;
      color: $very-dark-gray;
    }

    h2,
    p {
      margin-left: 32.2px;

      text-align: start;
    }
  }
}

@media (max-width: 699px) {
  .ip-details {
    grid-template-columns: 1fr;
    grid-gap: 23.5px;

    top: calc(100% - 134px);

    width: clamp(87.5vw, 60%, 1000px);
    padding: 27px 0;

    text-align: center;

    .ip-detail {
      grid-gap: 7px;

      h2 {
        font-size: 10px;
        letter-spacing: 1.4px;
      }

      p {
        font-size: 20px;
        letter-spacing: 0;
      }

      h2,
      p {
        width: 100%;
        margin: 0;

        text-align: center;
      }
    }
  }
}

@media (max-height: 699px) and (min-width: 699px) {
  .ip-details {
    grid-template-rows: repeat(auto-fit, minmax(20px, 0.4fr));
    grid-row: 1/3;
    grid-gap: 5px;

    position: static;

    min-width: 360px;
    max-width: 47vw;
    padding: 15px 0;

    .ip-detail {
      gap: 5px;

      p {
        overflow: hidden;
        text-overflow: ellipsis;

        height: 30px;
      }

      &:not(&:nth-child(1))::after {
        content: unset;
      }
    }
  }
}
